// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$title-color: #000000;
$header-title-font-family: "Raleway", sans-serif;
$header-subtitle-title-font-family: "Raleway", sans-serif;
$heading-font-family: "Raleway", sans-serif;

$header-bg: #f3fbfa;
$main-bg: #f6fbfb;
$subtitle-color: darken($header-bg, 58);
$nav-bg: #eceff5;
$nav-bg-front: image-url('noise.png');
$nav-bg-back: #FFF;
$nav-color: darken($nav-bg, 78);
$nav-color-hover: darken($nav-color, 25);
$nav-border-bottom: #fff;
$sidebar-bg: desaturate(#ecf3f2, 8);
$sidebar-link-color: saturate(#526f9a, 10);
$sidebar-link-color-hover: darken(#7ab662, 9);
$footer-bg: #FFFFFF;
$footer-bg-front: image-url('noise.png');
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11));
